<section class="content container">
  <h1>Saved Articles</h1>
  <ul class="list">
    {{#each Articles}}
    <li class="post">
    <div class="main row">

      <div class="post-info col-md-4 col-lg-3">
        <h2>
          <a href="{{this.link}}">
            {{this.title}}
          </a>
        </h2>
        <div class="post-date">{{this.date}}</div>
      </div>
      <div class="post-sidebar col-md-8 col-lg-9">
        <img class="post-img" src="{{this.img}})" alt="{{this.title}}">
        <h3>Media</h3>
        <iframe src="{{this.player}}"></iframe>
        <button class="btn btn-info" id="noteBtn" data-id="{{this._id}}" data-toggle="modal" data-target="#modal_{{this._id}}">Notes</button>
        <form class="remove-saved" action="/saved/{{this._id}}?_method=PUT" method="POST">
          <input type="hidden" name="saved" value="false">
          <button class="btn btn-warning" type="submit">Remove From Saved</button>
        </form>
      </div>
      </div>
      <div class="modal fade" id="modal_{{this._id}}">
        <div class="modal-dialog" role="document" data-postID="{{this._id}}">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Notes for {{this.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="comment-window">
              </div>
              <form class="comment-form" action="/saved/{{this._id}}" method="POST">
                <div class="form-group">
                  <label>Comment</label>
                  <textarea id="body" name="body"></textarea>
                  <button class="btn btn-info" type="submit">Add Note</button>
                </div>
              </form>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

    </li>
    {{/each}}
  </ul>
</section>
